<!DOCTYPE html>
<html lang="zh-CN" xmlns:wb="http://open.weibo.com/wb">
  <head profile="http://gmpg.org/xfn/11">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <link rel="alternate" title="{{ site.title }}" href="/atom.xml" type="application/rss+xml" />

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" media="all" />
    
    <link rel="index" title="{{ site.title }}" href="{{ HOME_PATH }}" />
    {% if page.previous %}
    <link rel="prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}" />
    {% endif %}
    {% if page.next %}
    <link rel="next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}" />
    {% endif %}
    
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            <li><a href="{{ HOME_PATH }}categories.html">目录</a></li>
          </ul>
          <ul>
<form action="http://google.com/search" method="get" _lpchecked="1">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:maijunjin.github.com">
    <input class="search" type="text" name="q" results="0" placeholder="Search">
  </fieldset>
</form>

          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
     	{{ content }}
      </div>

    </div> <!-- /container -->

    {% include JB/analytics %}
<!-- UJian Button BEGIN -->
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?type=slide&fade=1&uid=1840499"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<!-- UJian Button END -->
  </body>
</html>
